
.login-container {
  flex-grow: 1;
  padding: 2rem 1rem;
}


.login-logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.login-title {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-text);
}


.login-form {
  background-color: var(--color-light);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.login-form input {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--color-border);
}


.login-form button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: var(--transition);
}

.login-form button:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer;
  color: white;
}


.login-form .invalid-feedback {
  font-size: 0.85rem;
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}

.tooltipText {
  visibility: hidden;
  width: 220px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  bottom: 125%; /* coloca arriba del icono */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.85rem;
  z-index: 10;
  line-height: 1.4;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}


.tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.btnEnviar {
  background-color: var(--color-primary);
  border: none;
  color: white;
  width: 150px;
  margin-top: 10px;
}

.btnEnviar:hover {
  background-color: var(--color-primary-dark);
  color: white;
}