
.header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 0;
}


.logo img {
  border-radius: 4px;
}


.navbar :global(.nav-link) {
  text-decoration: none;
  color: #fff !important;
  font-weight: 500;
  transition: var(--transition);
  margin: 0 10px;
}

.navbar :global(.nav-link:hover) {
  color: var(--color-text);
}

.navbar :global(.navbar-nav) {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.navbar :global(.navbar-brand) {
  color: #fff !important;
  font-weight: 600;
}

.cartLink {
  font-weight: bold;
  color: #fff !important;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cartLink:hover {
  color: var(--color-text);
}

.cartIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
