.header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 0;
}

.logoImg {
  width: 40px;
  height: 35px;
  margin-right: 8px;
  margin-left: 10px;
}

/* Sobrescribir estilos de Bootstrap para el navbar */
.navbar :global(.nav-link) {
  color: #fff !important;
  font-weight: 500;
  margin-inline: 25px;
  transition: var(--transition);
}

.navbar :global(.nav-link):hover {
  color: var(--color-text) !important;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar :global(.navbar-brand) {
  color: #fff !important;
  font-weight: 600;
}

.cartLink {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.cartIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}